body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    width: 100%;
    height: 100vh;
}

#iframeContainer {
    width: 100%;
    height: calc(100% - 60px); /* Adjusted for header height */
    overflow: hidden;
}

#googleSearchFrame {
    width: 100%;
    height: 100%;
    border: none;
}
